/*
div[class^=col-xs-]>.btn-group button,
div[class^=col-xs-]>.btn-group ul{

}*/

main>section{
   margin: 2rem;
}

/*MEDIA SELECTION*/

#mediaSelection>div{
   margin-top: 1rem;
   margin-bottom: 1rem;
   text-align: center;
}


.add-media-button{
   margin: 0.5rem;
}

.add-media-button button,
.add-media-button ul{
   width: 100%;
}

.video-block{
       margin-top: 1.5rem;
}

.video-block>div{
   border: 1px rgba(0, 0, 0, 0.5) solid;
   border-radius: 3px;
   padding: 1rem;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.video-block header{
   line-height: 2em;
   border-bottom: 1px gray solid;
   margin: 0 -10px;
}

.video-block header .media-title{
   text-transform: uppercase;
}

.video-block.edit .remove{
   float: right;
   border: none;
   font-size: 1.5em;
   line-height: 0px;
   margin-top: -0.2em;
   color: rgb(183, 182, 182);
}

.video-block.edit .media-done,
.video-block .media-edit{
   display: inherit;
}

.video-block.edit .media-edit,
.video-block .media-done{
   display: none;
}

.video-block .main-section{
   padding: 1em 0;
}
/*END MEDIA SELECTION*/
